<h1>社会主义好</h1>
<%= "Hello #{@str}" %>
<br />
<a href="/demo/index">index</a>
<br />
<%= link_to("index2", {:action => 'index'}) %>
<br />
<%= link_to("index with parametars", {:action => 'index', :spm => 'a7', :id => '55'}) %>